$main-color: #0097b2;
$dark-color: black;
$dark-secondary-color: #374151;
$help-color: #686868;
$light-color: #ffffff;
$light-grey-color: #02071d0a;
$teal-color: #4B9093;
$danger-color: #F76C6C;
$light-danger-color: #E4A7A2;
$light-blue-color: #F3F4F6;
$primary-color: rgb(124, 58, 237);
$success-color: #26cc37;
$border-light: #f0f0f0;
$box-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.1);
$box-shadow-large: 0 8px 16px rgba(0, 0, 0, 0.2);
$blur-color: rgba(243, 244, 246, 0.6);

//buttons
$btn-primary: #0097b2;
$btn-primary-disabled: #93c5fd;
$btn-primary-active: #1e40af;

$btn-secondary: $primary-color;
$btn-secondary-active: rgba($primary-color, 150%);
$btn-secondary-disabled: rgba($primary-color, 80%);

$btn-danger: #F76C6C;
$btn-danger-disabled: #ffb4b4;
$btn-danger-active: #e65d5d;

$btn-success: #26cc37;
$btn-success-disabled: #71ff7f;
$btn-success-active: #008b0e;

